.curve{
    svg, .background{
        position: fixed;
        height: calc(100vh + 600px);
        width: 100vw;
        pointer-events: none;
        left: 0;
        top: 0;
        z-index: 3;
    }

    svg path {
        fill: white;}
    .background{
        background-color: #ffffff;
        transition: opacity 0s linear 0.1s;
    }
    .trans-img {
        position: absolute;
        left: 50%;
        top: 40%;
        z-index: 4;
        transform: translateX(-50%);
        @apply w-[360px];

    }
    .route{
        position: absolute;
        left: 50%;
        top: 30%;
        color: black;
        font-size: 220px;
        z-index: 3;
        transform: translateX(-50%);
        text-align: center;
    }
}
