@import "../components/Layout/Stairs/styles.scss";
@import "../components/Layout/Inner/style.scss";
@import "../components/Layout/Curve/style.scss";
html {
    scroll-behavior: smooth;
}
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

body {
    @apply bg-[#ecebe7];
}
.main {
    .page {
        min-height: calc(100vh - 80px);

        .drop-down-text {
            @apply font-sans text-base lg:text-3xl uppercase;
        }
    }

    .body {
        @apply relative;
        gap: 40px;

        .mouse-over {
            @apply absolute inset-0 w-full h-full;

            img {
                @apply w-[200px] fixed hidden translate-x-[-50%] translate-y-[-50%];
            }
        }

        .button {
            @apply text-black py-4 px-10 inline-block relative z-50 font-sans text-base relative border border-solid border-black rounded-full transition-colors duration-500;
            /* &::after {
                @apply absolute left-0 bottom-[1px] w-full h-1 bg-red z-10 transition-all duration-500;
                content: "";
            } */

            span {
                @apply relative z-20;
            }

            &:hover {
                @apply bg-red;
            }
        }

        .button_a {
            @apply text-black font-serif relative;
            &::after {
                @apply absolute left-0 top-2/4 w-0 h-px bg-red z-10 transition-all duration-500;
                content: "";
            }

            span {
                @apply relative z-20;
            }

            &:hover {
                &::after {
                    @apply w-full;
                }
                span {
                }
            }
        }

        .tech-list {
            @apply text-black font-serif relative z-20;
            font-size: clamp(
                18px,
                calc(20px + (36 - 20) * (100vw - 768px) / (1920 - 768)),
                24px
            );
            line-height: 1.4;
        }

        &.intro {
            .h1 {
                @apply text-black font-serif;
                font-size: clamp(2.25rem, 2.67vw + 1rem, 2.875rem);
                line-height: 1.2;
            }
            .h2 {
                @apply text-black font-sans;
                font-size: clamp(
                    18px,
                    calc(20px + (36 - 20) * (100vw - 768px) / (1920 - 768)),
                    24px
                );
                line-height: 1.8;
            }
            p {
                @apply text-black font-serif relative z-20;
                font-size: clamp(
                    18px,
                    calc(20px + (36 - 20) * (100vw - 768px) / (1920 - 768)),
                    24px
                );
                line-height: 1.4;
            }
        }
    }

    .item {
        &.video {
            cursor: url(/images/play.svg), auto;
        }

        &.image {
            cursor: url(/images/file-image-sharp-solid.svg), auto;
        }

        .logo-container {
            .wearebar {
                @apply w-[100px];
            }
        }
    }

    .product {
        p {
            @apply text-black font-serif;
            font-size: clamp(
                18px,
                calc(20px + (36 - 20) * (100vw - 768px) / (1920 - 768)),
                24px
            );
            line-height: 1.4;
        }

        .first-image {
            @apply relative;
            .image-container {
                &:after {
                    @apply hidden lg:block absolute inset-0 z-10 bg-white/10 backdrop-blur-sm transition-opacity duration-500;
                    content: "";
                }
            }

            .mouse-hand {
                @apply transition-opacity duration-500;
            }

            &:hover {
                .image-container {
                    &:after {
                        @apply opacity-0;
                    }
                }

                .mouse-hand {
                    @apply opacity-0;
                }
            }
        }

        .second-image {
            @apply relative;
            .video-container {
                &:after {
                    @apply hidden lg:block absolute inset-0 z-10 bg-white/10 backdrop-blur-sm transition-opacity duration-500;
                    content: "";
                }
            }

            .mouse-hand {
                @apply transition-opacity duration-500;
            }

            &:hover {
                .video-container {
                    &:after {
                        @apply opacity-0;
                    }
                }
                .mouse-hand {
                    @apply opacity-0;
                }
            }
        }
    }
}
